<!DOCTYPE html>
<html>
  <head>
    <title>LateralTrainingProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= notice %>
    <%= alert %>
  </head>

  <body>
    <% if @requests %>
      <p>Last pages visited:</p>
      <ul>
        <% @requests.each do |request| %>
          <li><%= link_to request, request %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
